@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');

/* <!-- --# # # # # # # # # # # # # # #-- -->
    <!-- G E N E R A L   B O D Y   R U L E S --> */
html, body{
  height: 100%;
  font-family: 'Pragati', 'Helvetica', sans-serif;
  background-color: #E5F0FC ;
}
 /* <!-- --# # # # # # # # # # # # # # #-- -->
  /*<!-- G R I D   B O D Y   R U L E S --> */
 body{
    display: grid;
    grid: 1fr auto / 1fr;
    grid-gap: 5em / 0; 
 }

 /* <!-- --# # # # # # # # # # # # # # #-- -->
    <!-- S I T E   H E A D E R --> */

.header{              
  grid-row: 1;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: linear-gradient(0.2turn,#0E1C27, #0A1C47);
  color: #E5F0FC;
  box-shadow: rgb(63, 63, 63) 0px 2px 7px;
}
.header-container{
  display: grid;
  grid: auto / .2fr 1fr .2fr;
  grid-column-gap: 1em;
  padding: 1em;
  align-items: center;
}
.title{
  margin: 0;
}
.nav_icon{
  width: 40px;
}
.nav_menu{
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("../assets/bg_graphics.png");
  background-size: 80%;
}
.nav-social_media{
  margin-top: 10%;
}
.nav-web_components > ul,
.nav-social_media > ul {
  margin-top: 2em;
  padding: 0;
  list-style: none;
  text-align: center;
}
.nav-item{
  margin-bottom: 1em;
}
.nav-button {
  display: block;
  padding: .5em;
  width: 85%;
  border-radius: 0 1em 1em 0;
  background: linear-gradient(.2turn,#004564,#71E7F5);
}
.nav-button > a{
  margin-left: 15%;
  font-weight: bold;
}
.nav-web_components > ul > li > a,
.nav-social_media > ul > li > a {
  text-decoration: none;
  color: inherit;
  display: inline;
  position: relative;
  font-size: 1.1em;
}
.hide{
  display: none;
}

/* <!-- --# # # # # # # # # # # # # # #-- -->
   <!-- M A I N   C O N T E N T  --> */

.main{
  grid-row: 2;
  position: relative;
  z-index: 2;
  padding-top: 10vh;
  color: #0E1C27;
  background-color: #FEFEFE;
} 

/* <!-- --# # # # # # # # # # # # # # #-- -->
   <!-- M O S T   R E C E N T   P O S T  --> */

.most_recent_post{
  padding: 1em;
}
.section_title{
  font-style: italic;
  letter-spacing: 2px;
}
.most_recent-post_title{
  margin: 0 0 .5em 0;
}
.most_recent-post_author{
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 .5em 0;
}
.most_recent-post_date{
  font-size: .9em;
  margin: 0 0 .5em 0;
}
.tag > a{
  display: inline-block;
  padding: .2em .5em;
  margin: 0 0 1em 0;
  border: #0E1C27 solid 1px;
  border-radius: .5em;
  text-decoration: none;
  font-weight: bold;
  color: #0E1C27;

}
.most_recent-post_img{
  width: 100%;
  margin: 1em 0;
}
.most_recent-post_content{
  text-align: justify;
  margin: 0;
}
.button {
  border: none;
  background-color: #71E7F5;
  box-shadow: lightgray 0px 2px 5px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  margin: .5em 0;
  width: 100%;
}

/* <!-- --# # # # # # # # # # # # # # #-- -->
   <!-- R E L A T E D   P O S T S  --> */

.related_posts{
  overflow: hidden;
  width: 90vw;
  padding: 1em;
  text-align: center;
}
.related_posts-list{
  display:flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory
}
.post-container{
  width: 150px;
  margin: 0 1em;
}

/* <!-- --# # # # # # # # # # # # # # #-- -->
   <!-- F O O T E R  --> */

   .footer {
     grid-row: 3;
     padding: 1em;
     background-color: #FEFEFE;
   }
   .copyrights{
     display: inline-block;
     font-size: .8em;
     margin: .5em;
   }